.content {

    flex-grow: 1;
    flex-direction: column;
    display: flex;
}





.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;


}

.design-frame {
	box-sizing: border-box;
}

.design-frame {
	max-width: 1000px;
	max-height: 420px;
	
}